<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="card">
        <h2>Cadastro de Aluno</h2>
        <form action="/cadastrar-cliente" method="post">

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" maxlength="40" required>

            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco" maxlength="100" required>

            <input type="submit" value="Cadastrar">
        </form>

        <div class="text-center">
            <a href="/">
                <button>Voltar</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
